@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">DIO - Trilha .NET - Desafio MVC</h1>

    <p>Para este desafio, você precisará usar seus conhecimentos adquiridos no módulo de API e Entity Framework, da
        trilha .NET da DIO.</p>
        
    <p>Você precisa construir um sistema gerenciador de tarefas, onde você poderá cadastrar uma lista de tarefas que
        permitirá organizar melhor a sua rotina.

        Essa lista de tarefas precisa ter um CRUD, ou seja, deverá permitir a você obter os registros, criar, salvar e
        deletar esses registros.

        A sua aplicação deverá ser do tipo Web API ou MVC, fique a vontade para implementar a solução que achar mais
        adequado.</p>
</div>
